/* ------ Body ---- */

body{
    background-color: #ffffff;
    font-family: 'Darker Grotesque', sans-serif;
} 

/* ---------- Home page -------------- */

.jumbotron {
    background-image: url('/images/bike-background.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
  }


.navbar{
    padding:0px ;
    color: #FFFFFF;
    
}

.navbar:hover{
    color: #FFFFFF;
}

.navbar:link{
    text-decoration:none;
}
.logo{
    margin-left: 10px;
}


/* ----- Shop page ---------- */

.header-shop{
    height: 40px;
    padding-left: 20px;
}

.icon-basket{
    margin-right: 5px;
}

.ariane {
    margin-top: 25px;
}

.basket-img {
    width: 100px;
}

.basket-item {
    background-color: #F8F8F8;
}

.total-box {
    font-weight: bold;

}

.btn-checkout {
    font-weight: bold;
}

.no-article {
    font-size: italic;
    color: crimson;
}



